.headingodin {
    color: rgb(79, 25, 139);
    background-color: rgb(213, 170, 238);
    text-align: center;
    border-style: solid;
    padding: 5px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.list1{

    color: rgb(72, 4, 104);
    background-color: rgb(221, 195, 241);    
    font-size: larger;
    border: 2px black solid;
    display: inline;
    font-family:Arial, Helvetica, sans-serif;
}
